[submodule "libmaze"]
	path = libmaze
	url = git@github.com:moses-palmer/libmaze
[submodule "libstereo"]
	path = libstereo
	url = git@github.com:moses-palmer/libstereo
[submodule "arguments"]
	path = arguments
	url = git@github.com:moses-palmer/arguments
[submodule "libpara"]
	path = libpara
	url = git@github.com:moses-palmer/libpara
